/* --- NightMode --- */
* {
  color: #35363A;
  background: #fff;
}

svg, path {
  fill: #35363A;
}

li, ol, button, input, .wordBox {
  background: #D0D0D0;
}

button:hover, input:hover {
  background: #bbbbbb;
}

button:active {
  background: #adadad;
}

.longWord::after {
	background: #D0D0D0;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #35363A;
}